<form #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm)">
    <div class="form-group">
        <label class="col-form-label">Forgot Your Password?</label>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="email">Enter your email so we can send you the reset link.</label>
        <input class="form-control" id="email" type="text" [(ngModel)]="model.email" name="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" [disabled]="!forgotForm.valid" type="submit">Send Email</button>
    </div>
</form>
