<h2>Let's Get Started!</h2>
<p>
  Generally, there are two parties to an appeal: the Appellant and the Respondent.
  The Appellant is the party who believes that the circuit court decided all or part of his case incorrectly.
  The Respondent is the party who believes that the circuit court decided the case correctly.
</p>
<p>
  In an appeal, the Appellant files two types of briefs.
  The first brief the Appellant must file is called an Initial Brief, which explains the case and the mistakes that the circuit court made.
</p>
<p>
  The Respondent files only a Response Brief, which as its name suggests, responds to the Appellant’s Initial Brief and explains why the circuit court decided the case correctly.
</p>
<p>
  After the Respondent files his Response Brief, the Appellant files a short, second brief called a Reply Brief, which addresses arguments presented in the Response Brief.
</p>
<br />
<h4>Select the type of brief that you want to create by clicking the appropriate button below or by using the navigation bar.</h4>
<div class="row" id="upper-row-panel">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Initial Brief</h3>
        <button [routerLink]="['/initial-example']" class="btn btn-primary" id="initialWelcomeButton" name="initialWelcomeButton">Go to Initial Brief</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Response Brief</h3>
        <button [routerLink]="['/response-example']" class="btn btn-primary" id="responseWelcomeButton" name="responseWelcomeButton">Go to Response Brief</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Reply Brief</h3>
        <button [routerLink]="['/reply-example']" class="btn btn-primary" id="replyWelcomeButton" name="replyWelcomeButton">Go to Reply Brief</button>
      </div>
    </div>
  </div>
</div>
