<h2>Let's Get Started!</h2>
<p>
  Generally, there are two parties to an appeal: the Appellant and the Respondent.
  The Appellant is the party who believes that the circuit court decided all or part of his case incorrectly.
  The Respondent is the party who believes that the circuit court decided the case correctly.
</p>
<div class="row" id="upper-row-panel">
  <div class="col-lg-4 px-lg-2 my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Initial Brief</h4>
        <p class="card-text">
          In an appeal, the Appellant files two types of briefs.
          The first brief the Appellant must file is called an Initial Brief, which explains the case and the mistakes that the circuit court made.
        </p>
        <button routerLink="/briefs/initial/example" class="btn btn-block btn-primary" id="initialWelcomeButton" name="initialWelcomeButton">Go to Initial Brief</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4 px-lg-2 my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Response Brief</h4>
        <p class="card-text">
          The Respondent files only a Response Brief, which as its name suggests, responds to the Appellant’s Initial Brief and explains why the circuit court decided the case correctly.
        </p>
        <button routerLink="/briefs/response/example" class="btn btn-block btn-primary" id="responseWelcomeButton" name="responseWelcomeButton">Go to Response Brief</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4 px-lg-2 my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Reply Brief</h4>
        <p class="card-text">
          After the Respondent files his Response Brief, the Appellant files a short, second brief called a Reply Brief, which addresses arguments presented in the Response Brief.
        </p>
        <button routerLink="/briefs/reply/example" class="btn btn-block btn-primary" id="replyWelcomeButton" name="replyWelcomeButton">Go to Reply Brief</button>
      </div>
    </div>
  </div>
</div>
