<div>
  <p>
    Congratulations! You have completed the Brief Assistant App!
    <br />
    You can download your brief by clicking the button.
  </p>
  <p>
    <button class="btn btn-success" id="replyFinalDownloadButton" name="replyFinalDownloadButton" (click)="download()">Download</button>
  </p>
  <form class="form-inline" #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
    <div class="form-group">
      <input type="email" id="email-send" class="form-control" [(ngModel)]="model.email" name="email" placeholder="johndoe@example.com">
      <button class="btn btn-success" id="replyFinalEmailButton" name="replyFinalEmailButton" type="submit">Email</button>
    </div>
  </form>
</div>
<div>
  <p style="padding-top: 10px;">
    <b>PLEASE FOLLOW THE STEPS BELOW BEFORE FILING YOUR BRIEF WITH THE COURT OF APPEALS.</b>
  </p>
  <p>
    1. The Brief Assistant does NOT produce a completed brief. Do NOT file the brief you downloaded. There is additional information you need to fill in yourself before filing it. See below.
  </p>
  <p>
    2. When you write the Argument section of your brief, be sure to cite to legal authorities to support your arguments. Legal authorities include cases, statutes, constitutions, and regulations. To find legal authorities, click the Legal Resources tab in the navigation bar above.
<p>
    3. After you finish writing your brief, you must list all of the legal authorities that it cites in your Table of Authorities and indicate the page number of your brief where the legal authority appears.
  </p>
  <p>
    4. After you finish writing your brief, you must list all of the sections of the brief in your Table of Contents and indicate the page number of your brief where the section appears.
  </p>
  <p>
    5. Include the word count in the CERTIFICATION AS TO FORM/LENGTH section of the brief. This will be indicated by the text "INSERT WORD COUNT HERE". A Reply Brief may not exceed 3,000 words. This word limit applies to the Argument and the Conclusion portions of the Reply Brief.
  </p>
  <p>
    6. Sign and date the last page of your brief.
  </p>
  <p>
    7. Complete and sign the Form and Length Certification.
  </p>
  <p>
    8. You will need to file 10 copies of the Appellant's Reply Brief with the Court of Appeals. If a court has found you indigent, then you may file 5 copies (in a 3-judge appeal) or only 3 copies (in a 1-judge appeal). You will also need to send 3 copies of your brief to your opponent or his lawyer, if he has one.
  </p>
  <p>
    9. Make sure all copies of your brief are stapled down the left side.
  </p>
  <p>
    10. To learn more about how to prepare and file a brief in the Court of Appeals, click Guide to Appellate Procedure for the Self-Represented (
    <a href="https://www.wicourts.gov/publications/guides/docs/proseappealsguide.pdf" target="_blank">https://www.wicourts.gov/publications/guides/docs/proseappealsguide.pdf</a>). Also, to consult a lawyer about the form of your brief and how to file a brief, <a href="https://www.wisbar.org/forPublic/INeedaLawyer/AppellateHelpDesk/Pages/Appellate-Help-Desk.aspx" target="_blank"><u>Appellate Help Desk</u></a>. It is open on Tuesdays and Thursdays.
  </p>
  <p>
    <b>Thank you for using the Brief Assistant!</b>
  </p>
</div>
<button class="btn btn-primary" type="submit" (click)="backToForm()">Back to Form</button>
