<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brief Assistant</title>
    <base href="~/" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body style="padding-bottom: 20px">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
