<form>
    <div>
      <h4>What is a Respondent's Response Brief?</h4>
      <ul>
        <li>
          A Respondent is the party who won in the circuit court (also called the trial court) and who wants the Court of Appeals to affirm all or part of the circuit court’s decision.
        </li>
        <li>
          A Response Brief is a formal document filed by the Respondent. It addresses the issues and arguments presented in the Appellant’s Initial Brief, and it explains why the circuit court decided your case correctly.
        </li>
        <li>
          A Response Brief presents the facts of the case, describes the circuit court’s decision, cites to legal authorities such as statutes and case law, and explains why the arguments presented in the Appellant’s Initial Brief are wrong—meaning, not supported by the law and/or the facts.
        </li>
        <li>
          The rules governing the form, contents and filing of a Response Brief are found in 
          <a href="http://docs.legis.wisconsin.gov/statutes/statutes/809/II/19/1" target="_blank">Wis. Stat. &sect;809.19(1) and (3)</a>.
        </li>
      </ul>
    </div>
    <div class="mb-4">
      <h4>See what a Response Brief looks like!</h4>
        <p>
            Below is a link to an example of a Response Brief.
            This sample Response Brief was written by a lawyer. Your brief does not need to use the same legal terms that this briefs uses.
            Click on the link and print the sample brief or save it to your computer. This is what a correctly formatted Response Brief looks like. Keep this sample brief handy as you proceed to the next page and start creating your own Response Brief.
        </p>
        <span>
          <img src="assets/wordDoc.png" height="20" width="20" alt="Word Document"/>
            <a href="/files/sampleResponseBrief.docx">Sample Response Brief</a>
        </span>
    </div>
    <button class="btn btn-dark" routerLink="/briefs/new">Back</button>
    <button class="btn btn-primary float-right" routerLink="/briefs/response/new">Start Brief Creation</button>
</form>
