<form>
    <div>
        <p>
          <b>What is an Respondent's Response Brief?</b>
        </p>
        <ul>
            <li>
                An Respondent is the party who is __.
            </li>
            <li>
                An Response Brief is a formal document filed by the Respondent. It explains __.
            </li>
            <li>
                An Response Brief __.
            </li>
            <li>
                The rules governing the form, contents and filing of an Respondent's Response Brief are found in 
                <span>
                    <a href="http://docs.legis.wisconsin.gov/statutes/statutes/809/II/19" target="_blank">Wis. Stat. &sect;809.19</a>.
                </span>
            </li>
        </ul>
    </div>
    <div>
      <p>
        <b>See what an Respondent's Response Brief looks like!</b>
      </p>
        <p>
            Below is a link to an example of an Respondent's Response Brief.
            <br />
            This sample Respondent's Response Brief was written by a lawyer. Your brief does not need to use the same legal terms that this briefs uses.
            <br />
            Click on the link and print the sample brief or save it to your computer. This is what a correctly formatted Respondent's Response Brief looks like. Keep this sample brief handy as you proceed to the next page and start creating your own Respondent's Response Brief.
        </p>
        <p>
            <img src="assets/wordDoc.png" height="20" width="20" />
            <a href="/files/sampleResponseBrief.docx">Sample Respondent's Brief</a>
        </p>
    </div>
    <button class="btn btn-primary" routerLink="/" routerLinkActive="active">Back</button>
    <button class="btn btn-primary" routerLink="/response-form" routerLinkActive="active">Start Brief Creation</button>
</form>
