Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Auth:
                    type: "s3"
                    buckets: ["elasticbeanstalk-us-east-1-388385000607"]
                    roleName:
                        "Fn::GetOptionSetting":
                            Namespace: "aws:autoscaling:launchconfiguration"
                            OptionName: "IamInstanceProfile"
                            DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
    /etc/nginx/conf.d/https.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            server {
              listen 443;
              server_name localhost;
              
              ssl on;
              ssl_certificate /etc/pki/tls/certs/server.crt;
              ssl_certificate_key /etc/pki/tls/certs/server.key;
            
              ssl_session_timeout 5m;
              
              ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
              ssl_prefer_server_ciphers on;
              
              gzip on;
              gzip_http_version 1.0;
              gzip_vary on;
              gzip_proxied any;
              gzip_comp_level 6;
              gzip_types text/html text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
              
              location / {
                server_tokens off;
                proxy_pass http://docker;
                
                proxy_http_version 1.1;
                proxy_set_header Connection "";
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto https;
                add_header X-Content-Type-Options nosniff;
                add_header X-Frame-Options deny;
                add_header X-XSS-Protection "1; mode=block";
                add_header Content-Security-Policy "default-src 'self'; base-uri 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self'; font-src 'self'; connect-src 'self'; media-src 'self'; object-src 'none'; child-src 'none'; worker-src 'self'; frame-ancestors 'none'; form-action 'self'; block-all-mixed-content; upgrade-insecure-requests;";
                add_header Referrer-Policy strict-origin-when-cross-origin;
                add_header Strict-Transport-Security "max-age=2592000; includeSubDomains";
              }
            }
            
    /etc/pki/tls/certs/server.crt:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN CERTIFICATE-----
            MIIDKjCCAhICCQDAsyWMtKS7/DANBgkqhkiG9w0BAQsFADBXMQswCQYDVQQGEwJV
            UzEXMBUGA1UECgwOQnJpZWZhc3Npc3RhbnQxFjAUBgNVBAsMDUVDMiBJbnN0YW5j
            ZXMxFzAVBgNVBAMMDkJyaWVmYXNzaXN0YW50MB4XDTE4MDMyNTIxMzUwM1oXDTE5
            MDMyNTIxMzUwM1owVzELMAkGA1UEBhMCVVMxFzAVBgNVBAoMDkJyaWVmYXNzaXN0
            YW50MRYwFAYDVQQLDA1FQzIgSW5zdGFuY2VzMRcwFQYDVQQDDA5CcmllZmFzc2lz
            dGFudDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALNC2khFX6XrOTpF
            pPQ1bTogZ7R8TPVBUPhPPK5m9lvVx9878iWpjaNdQOSzUqjmHvtYwrJWSYfkBxWL
            JOesHNC8C1mwm2PfcMwqeZSgVXcc8iwiMf1+OXADe+5hxV3SD/LXWG2yJgczXjCJ
            C4NvdkjnwJO2viwlkiyB6hDhWOSuRch6lYPHbQhXgreXl4bq4uwSoKEYBKYsaw/p
            1O+iK2q99SRs3dv+x0jiJ7y9Ag4YzKxfqDVvNhyJYs37WP/tMR6aebN+xPvJjygw
            itmDmrt/T6i9RizgZkvqwcYW6yeysCzuIfijLNGgGdNvGfYaM99uBZSQwg+BksvL
            hjnZOjsCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAoW6V5bzXclb5hRwbobmzEU+/
            EabnlWEXHvMSQkVZ6SQwUq3aOkm7mOYpAdqaEalbrVaBA9Lyjhy+RF6R72TNfDy2
            gvN5N/SXYqqArO5gKlB5uUy9ivxKmpNl8KTt5Xih992xZYVwN/29P9xn7gb6pZal
            19fyPMKEWvZ/emDQqXjjDTBs7nS+sBtQh2IWGgGlSlrW0vnE/DJ1FIAUgS8PtmF3
            Ynhx3HNH5w0GH+UtDnh3f9U1Dyoms6CEN1Ti0dqLkTyQrSreZ/9yrratlS5zbodA
            vR+KX8uJa3DV1dFEGUJDgsiLhZ20GqoBpzZFNpPMInx/TrEG9I+r6g7IkYOjPQ==
            -----END CERTIFICATE-----
        
    /etc/pki/tls/certs/server.key:
        mode: "000400"
        owner: root
        group: root
        authentication: "S3Auth"
        source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-388385000607/server.key