option_settings:
  # Backend Encryption Policy
  aws:elb:policies:backendencryption:
    PublicKeyPolicyNames: backendkey
    InstancePorts:  443
  # Public Key Policy
  aws:elb:policies:backendkey:
    PublicKey: |
      -----BEGIN CERTIFICATE-----
      MIIDKjCCAhICCQDAsyWMtKS7/DANBgkqhkiG9w0BAQsFADBXMQswCQYDVQQGEwJV
      UzEXMBUGA1UECgwOQnJpZWZhc3Npc3RhbnQxFjAUBgNVBAsMDUVDMiBJbnN0YW5j
      ZXMxFzAVBgNVBAMMDkJyaWVmYXNzaXN0YW50MB4XDTE4MDMyNTIxMzUwM1oXDTE5
      MDMyNTIxMzUwM1owVzELMAkGA1UEBhMCVVMxFzAVBgNVBAoMDkJyaWVmYXNzaXN0
      YW50MRYwFAYDVQQLDA1FQzIgSW5zdGFuY2VzMRcwFQYDVQQDDA5CcmllZmFzc2lz
      dGFudDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALNC2khFX6XrOTpF
      pPQ1bTogZ7R8TPVBUPhPPK5m9lvVx9878iWpjaNdQOSzUqjmHvtYwrJWSYfkBxWL
      JOesHNC8C1mwm2PfcMwqeZSgVXcc8iwiMf1+OXADe+5hxV3SD/LXWG2yJgczXjCJ
      C4NvdkjnwJO2viwlkiyB6hDhWOSuRch6lYPHbQhXgreXl4bq4uwSoKEYBKYsaw/p
      1O+iK2q99SRs3dv+x0jiJ7y9Ag4YzKxfqDVvNhyJYs37WP/tMR6aebN+xPvJjygw
      itmDmrt/T6i9RizgZkvqwcYW6yeysCzuIfijLNGgGdNvGfYaM99uBZSQwg+BksvL
      hjnZOjsCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAoW6V5bzXclb5hRwbobmzEU+/
      EabnlWEXHvMSQkVZ6SQwUq3aOkm7mOYpAdqaEalbrVaBA9Lyjhy+RF6R72TNfDy2
      gvN5N/SXYqqArO5gKlB5uUy9ivxKmpNl8KTt5Xih992xZYVwN/29P9xn7gb6pZal
      19fyPMKEWvZ/emDQqXjjDTBs7nS+sBtQh2IWGgGlSlrW0vnE/DJ1FIAUgS8PtmF3
      Ynhx3HNH5w0GH+UtDnh3f9U1Dyoms6CEN1Ti0dqLkTyQrSreZ/9yrratlS5zbodA
      vR+KX8uJa3DV1dFEGUJDgsiLhZ20GqoBpzZFNpPMInx/TrEG9I+r6g7IkYOjPQ==
      -----END CERTIFICATE-----