<div class="outerDiv">
    <form>
        <div>
            <p>
                <b>What is an Appellant's Initial Brief?</b>
            </p>
            <ul>
                <li>
                    An Appellant is the party who is appealing a decision by the circuit court (also called the trial court) and who wants the Court of Appeals to reverse all or part of the decision.
                </li>
                <li>
                    An Initial Brief is a formal document filed by the Appellant. It explains why the circuit court decided your case incorrectly.
                </li>
                <li>
                    An Initial Brief presents the facts of the case, describes the circuit court's decision, cites to legal authorities such as statutes and case law, and explains how the circuit court erred in your case.
                </li>
                <li>
                    The rules governing the form, contents and filing of an Appellant's Initial Brief are found in Wis. Stat. §809.19. Click
                    <a href="http://docs.legis.wisconsin.gov/statutes/statutes/809/II/19" target="_blank">HERE</a>
                    to read this statute.
                </li>
            </ul>
        </div>
        <div>
            <p>
                <b>An Example Appellant's Initial Brief?</b>
            </p>
            <p>
                Below is a link to an example of an Appellant's Initial Brief.
                <br>
                Click on the link and print the sample brief or save it to your computer. This is what a correctly formatted Appellant's Initial Brief looks like. Keep this sample brief handy as you proceed to the next page and start creating your own Appellant's Initial Brief.
            </p>
            <p class="pWordDocPNG">
                <img src="~/images/wordDoc.png" height="20" width="20" />
                <a href="~/files/sampleBrief.docx">Sample Brief</a>
            </p>
        </div>
        <button class="btn btn-primary" type="submit">Back</button>
        <button class="btn btn-primary" type="submit">Start Brief Creation</button>
    </form>
</div>