<div class="row justify-content-center">
  <div class="col-lg-6 card">
    <article class="card-body">
      <h4 class="card-title text-center">Forgot Your Password?</h4>
      <p class="card-text text-center">Enter your email so we can send you a link to reset your password.</p>
      <form #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm)">
        <div class="form-group">
          <input class="form-control" id="email" type="email" [(ngModel)]="model.email" name="email" #email="ngModel" [email]="true" placeholder="Email" autocomplete="email" />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" id="email-errors">
            <div *ngIf="email.errors">
              Valid email is required.
            </div>
          </div>
        </div>
        <div class="alert alert-success" *ngIf="showEmailSentNotification">
          An email has been sent. Check your email for a link to reset your password. If you do not receive an email within 10 minutes, ensure that the email you entered is correct.
        </div>
        <button class="btn btn-lg btn-block btn-primary" id="forgotPasswordEmailButton" name="forgotPasswordEmailButton" [disabled]="!forgotForm.valid || disableButton" type="submit">Send Email</button>
      </form>
    </article>
  </div>
</div>
