<form #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm)">
  <div class="form-group">
    <label class="col-form-label">Forgot Your Password?</label>
  </div>
  <div class="form-group">
    <label class="col-form-label" for="email">Enter your email so we can send you the reset link.</label>
    <input class="form-control" id="email" type="email" [(ngModel)]="model.email" name="email" #email="ngModel" [email]="true" placeholder="Email" />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" id="email-errors">
      <div *ngIf="email.errors">
        Valid email is required.
      </div>
    </div>
  </div>
  <div class="alert alert-success" *ngIf="showEmailSentNotification">
    An email has been sent. Check your email for a link to reset your password. If you do not receive an email within 10 minutes, ensure that the email you entered is correct.
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="forgotPasswordEmailButton" name="forgotPasswordEmailButton" [disabled]="!forgotForm.valid || disableButton" type="submit">Send Email</button>
  </div>
</form>
