<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-group">
        <label class="col-form-label">Login:</label>
    </div>
    <div class="form-group form-inline">
        <input class="form-control" id="loginEmail" type="email" [(ngModel)]="loginModel.email" name="loginEmail" placeholder="Email" required/>
        <small class="text-muted">This will be used to log in after the account is created.</small>
    </div>
    <div class="form-group form-inline">
        <input class="form-control" id="loginPassword" type="password" [(ngModel)]="loginModel.password" name="loginPassword" placeholder="Password" required/>
    </div>
    <div class="alert alert-danger" *ngIf="showLoginUnauthorizedDiv">
        Login Unsuccessful. Email/Password was incorrect.
    </div>
    <div class="form-group">
      <button class="btn btn-primary" id="loginButton" name="loginButton" type="submit" [disabled]="!loginForm.valid">Login</button>

      <button class="btn btn-primary" id="forgotPassword" name="forgotPassword" routerLink="/forgotPassword">Forgot your password?</button>
    </div>
</form>
<hr/>
<form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">
  <div class="form-group">
    <label class="col-form-label">Don't have an account? Register for free</label>
  </div>
  <div class="form-group">
    <fieldset>
      <label>Are you a lawyer?</label>
      <div class="form-check">
        <label class="form-check-label radio-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="registerModel.userType" name="role" value="User">
          No
        </label>
        <label class="form-check-label radio-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="registerModel.userType" name="role" value="Lawyer">
          Yes
        </label>
      </div>
    </fieldset>
  </div>
    <div class="form-group">
        <input class="form-control" id="registrationEmail" type="email" [(ngModel)]="registerModel.email" [email]="true" name="registrationEmail" placeholder="Email" required #registrationEmail="ngModel" />
        <div *ngIf="registrationEmail.invalid && (registrationEmail.dirty || registrationEmail.touched)" class="alert alert-danger" id="registrationEmail-errors">
            <div *ngIf="registrationEmail.errors">
                Valid email is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" id="registrationPassword" type="password" [(ngModel)]="registerModel.password" name="registrationPassword" placeholder="Password" #registrationPassword="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" required validateEqual="registrationPasswordCheck" reverse="true" />
        <div *ngIf="registrationPassword.invalid && (registrationPassword.dirty || registrationPassword.touched)" class="alert alert-danger" id="registrationPassword-errors">
            <div *ngIf="registrationPassword.errors">
                Password requires the following format:
                <ul>
                    <li>Minimum 8 Characters</li>
                    <li>At least one number</li>
                    <li>Uppercase</li>
                    <li>Lowercase</li>
                    <li>At least one special character (i.e. !, @, #, etc.)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
      <input class="form-control" id="registrationPasswordCheck" type="password" name="registrationPasswordCheck" [(ngModel)]="registerModel.confirmPassword" placeholder="Confirm Password" validateEqual="registrationPassword" reverse="false" #registrationPasswordCheck="ngModel" required />
      <div *ngIf="registrationPasswordCheck.invalid && (registrationPasswordCheck.touched || registrationPasswordCheck.dirty)" class="alert alert-danger" id="registrationPasswordCheck-errors">
        <div *ngIf="registrationPasswordCheck.errors">
          Password mismatch
        </div>
      </div>
      <div class="alert alert-success" *ngIf="showRegisterSuccessDiv">
        Registration Successful. Check your email for a confirmation link.
      </div>
      <div class="alert alert-danger" *ngIf="showRegisterFailDiv">
        Registration failed. Email provided may already be in use.
      </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="signupButton" name="signupButton" type="submit" [disabled]="!registerForm.valid || disableSignupButton">Sign Up</button>
    </div>
</form>
