<h1>Legal Resources</h1>
<div>
  <h3>If you need to look up the meaning of a legal term, try one of these legal dictionaries:</h3>
  <p>
    <a href="http://law.com/" target="_blank"><u>Law.com</u></a>
  </p>
  <p>
    <a href="https://www.law.cornell.edu/wex" target="_blank"><u>WEX</u></a>
  </p>
  <h3>For information on the procedures for preparing and filing briefs in the Wisconsin Court of Appeals:</h3>
  <p>
    Read <a href="https://docs.legis.wisconsin.gov/statutes/statutes/809/II/19" target="_blank"><u>Wis. Stat. §809.19</u></a> which governs the form and filing of appellate briefs.
  </p>
  <p>
    Review the Wisconsin Court of Appeals’ <a href="https://www.wicourts.gov/publications/guides/docs/proseappealsguide.pdf" target="_blank"><u>Guide to Appellate Procedure for the Self-Represented</u></a>.
  </p>
  <p>
    Contact the <a href="https://www.wisbar.org/forPublic/INeedaLawyer/AppellateHelpDesk/Pages/Appellate-Help-Desk.aspx" target="_blank"><u>Appellate Help Desk</u></a>.
  </p>
  <h3>To find legal authorities to cite in your Initial Brief, Response Brief, or Reply Brief, try these free online resources:</h3>
  <p>
    To find a broad range of legal resources and to "ask a librarian" visit the <a href="http://wilawlibrary.gov/" target="_blank"><u>Wisconsin State Law Library's</u></a> website.
  </p>
  <p>
    To find statues, constitutions, and administrative rules, visit the <a href="http://legis.wisconsin.gov/" target="_blank"><u>Wisconsin State Legislature's</u></a> website.
  </p>
  <p>
    To find case law, visit <a href="https://scholar.google.com/" target="_blank"><u>Google Scholar</u></a>, select "case law" and the appropriate court(s). You can also visit the <a href="http://www.plol.org/Pages/Search.aspx" target="_blank"><u>Public Library of Law</u></a>.
  </p>
  <p>
    To search for law review articles about specific areas of law, try <a href="http://www.lawtechnologytoday.org/" target="_blank"><u>Law Technology Today</u></a>.
  </p>
  <p>
    To search a broad range of legal resources with one query, visit <a href="http://www.nyls.edu/library/library_services/dragnet1/dragnet/" target="_blank"><u>DRAGNET</u></a>.
  </p>
  <p>
    To get brief answers from a lawyer about the law that applies to the issues in civil cases, visit <a href="https://wi.freelegalanswers.org/" target="_blank"><u>Wisconsin Free Legal Answers</u></a>.
  </p>
</div>

