body {
}

.outerDiv {
    padding-left: 20px;
    padding-top: 20px;
}

.welcomeDiv {
    padding-bottom: 50px;
}

.pWordDocPNG {
    padding-left: 30px;
}

#formHeader {
    padding-top: 10px;
}

.dropdowns {
    height: 34px;
}