<h2>Privacy Policy</h2>
<div>
  <p>
    The Brief Assistant is sponsored by the Appellate Practice Section of the Wisconsin State Bar.
    We are dedicated to protecting the privacy of our users, and we have created this privacy statement in order to demonstrate our commitment to the privacy of personally identifiable information.
    The following statement discloses our information gathering and dissemination practices.
  </p>
  <h4>IP Addresses</h4>
  <p>
    To run the Brief Assistant effectively, we collect users' IP addresses to help diagnose problems with our server and to administer our website. We also use IP addresses to identify users and to ensure the security of their accounts and their libraries, if they choose to create one.
  </p>
  <h4>Login Information</h4>
  <p>
    Users of the Brief Assistant are responsible for maintaining the confidentiality of their login information, which consists of an email address and password.
    The Brief Assistant will not intentionally share a user’s email address or password with any third party.
    Users should report any known or suspected unauthorized use of login information or other breach of security to Jacob Gralinski at <a href="mailto:#">jacobgralinski@gmail.com</a>.
  </p>
  <h4>Use of Cookies</h4>
  <p>
    The Brief Assistant site does not use cookies to keep track of your information.
  </p>
  <h4>Personal Information About You and Your Case</h4>
  <p>
    The Brief Assistant’s account registration forms ask users for contact information such as name and email address.
    Also, the Brief Assistant asks for detailed information about your appeal such as: the names of the parties, the circuit court case number, the appellate court case number, your address, phone number and email address, the issues, facts and arguments in your case.
    The Brief Assistant requires this information in order to generate a draft of an appellate brief that you can save and finish later to file with the Wisconsin Court of Appeals.
    The Brief Assistant will not intentionally share this information with any third party.
  </p>
  <h4>Links to Other Sites</h4>
  <p>
    The Brief Assistant contains links to other sites.
    The Brief Assistant is not responsible for the privacy practices or the content of such websites.
  </p>
  <h4>Security</h4>
  <p>
    The security of any information you provide is important to us.
    This site employs strict security measures to protect against the loss, misuse, unauthorized access, or alteration of the information under our control.
  </p>
  <h4>Contacting the Brief Assistant</h4>
  <p>
    If you have any questions about this privacy statement, the practices of this site, or your use of the Brief Assistant, you may contact: Jacob Gralinski at <a href="mailto:#">jacobgralinski@gmail.com</a>
  </p>
  <p>
    Effective Date: May 24, 2018.
  </p>
</div>
