<h2>Welcome to the Brief Assistant!</h2>
<h4>Begin the process by selecting the appropriate Brief below or by using the navigation bar at the top!</h4>
<div class="row" id="upper-row-panel">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Initial Brief</h3>
        <button [routerLink]="['/initial-welcome']" class="btn btn-primary" id="initialWelcomeButton" name="initialWelcomeButton">Go to Initial Brief</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Reply Brief</h3>
        <button [routerLink]="['/reply-welcome']" class="btn btn-primary" id="replyWelcomeButton" name="replyWelcomeButton">Go to Reply Brief</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Response Brief</h3>
        <button [routerLink]="['/response-welcome']" class="btn btn-primary" id="responseWelcomeButton" name="responseWelcomeButton" disabled>Go to Response Brief</button>
      </div>
    </div>
  </div>
</div>
<div>
    <h4 id="disclaimer">
        <b>Disclaimer:</b>
    </h4>
    <p>
        The Brief Assistant does NOT provide legal advice. The Appellate Practice Section strongly urges parties to an appeal to retain a lawyer to represent them. Sometimes that is not possible.
    </p>
    <p>
        So if you have filed a <b>civil</b> appeal and you cannot afford a lawyer, you may wish to call, text, or email the Appellate Help Desk at
        <a href="tel:+1-414-671-9041">414-671-9041</a> or
        <a href="mailto:appellatehelp@gmail.com" target="_top">appellatehelp@gmail.com</a>
        for advice on how to prepare your brief.
    </p>
    <p>
        If you have filed a <b>criminal</b> appeal and you cannot afford a lawyer, you may be eligible for one through the Wisconsin State Public Defender. For criminal appeals in Milwaukee, call
        <a href="tel:+1-414-227-4805">414-227-4805</a>. For criminal appeals in all other parts of Wisconsin, call
        <a href="tel:+1-608-266-3440">608-266-3440</a>.
    </p>
</div>
