<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">

        <div class="jumbotron" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="container">
                <img style="margin-left: auto" src="/images/AppellatePracticeLogo.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </header>
    <main class="mdl-layout__content">



    </main>
</div>
<!-- Router Outlet -->
<div class="container">
    <router-outlet></router-outlet>
</div>