<div class='container-fluid'>
  <div style="background-color: #eee; float: right; padding-right: 30px; padding-top: 10px">
    <button class="btn btn-primary" routerLink="/loginRegister">Login/Register</button>
  </div>
  <div class="jumbotron" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
      <img style="margin-left: auto" src="assets/AppellatePracticeLogo.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
    <div>
      <router-outlet></router-outlet>
    </div>
</div>
