<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['welcome']">Brief Assistant</a>
      </div>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['welcome']">Home</a></li>
          <li><a [routerLink]="['/initial-welcome']">Initial Brief</a></li>
          <li><a [routerLink]="['/reply-welcome']">Reply Brief</a></li>
          <li><a [routerLink]="['/response-welcome']">Response Brief</a></li>
          <li><a [routerLink]="['/petition-welcome']">Petition for Review</a></li>
          <li><a [routerLink]="['/briefs']" *ngIf="accountService.isLoggedIn">My Briefs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="height: inherit">
          <app-header></app-header>
        </ul>
      </div>
    </div>
  </nav>
  <header class="mdl-layout__header mdl-layout__header--transparent">

    <div class="jumbotron" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="container">
        <img style="margin-left: auto" src="/assets/AppellatePracticeLogo.png" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </header>
</div>
<!-- Router Outlet -->
<div class="container">
  <router-outlet></router-outlet>
</div>
