<form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
  <div class="form-group">
    <label class="col-form-label">Enter a new password</label>
  </div>
  <div class="form-group form-inline">
    <label class="col-form-label">New Password:</label>
    <input type="password" id="password" class="form-control" [(ngModel)]="model.password" name="password" required>
  </div>
  <div class="form-group form-inline">
    <label class="col-form-label">Confirm Password:</label>
    <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="model.confirmPassword" name="confirmPassword" required>
  </div>
  <div>
    <button class="btn btn-primary" id="resetPasswordButton" name="resetPasswordButton" type="submit" [disabled]="!resetForm.valid">Reset Password</button>
  </div>
  <div class="alert alert-success" *ngIf="resetPasswordSuccessful">
    Password reset sucessful. You may now <a class="alert-link" routerLink="/account/login-register">login</a> using your new password.
  </div>
  <div class="alert alert-danger" *ngIf="resetFailed">
    Password reset failed.
  </div>
</form>
