<form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
  <div class="form-group">
    <label class="col-form-label">Enter a new password</label>
  </div>
  <div class="form-group form-inline">
    <label class="col-form-label">New Password:</label>
    <input type="password" id="password" class="form-control" [(ngModel)]="model.password" name="password" required #password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" validateEqual="passwordCheck" reverse="true">
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
    <div *ngIf="password.errors">
      Password requires the following format:
      <ul>
        <li>Minimum 8 Characters</li>
        <li>At least one number</li>
        <li>Uppercase</li>
        <li>Lowercase</li>
      </ul>
    </div>
  </div>
  <div class="form-group form-inline">
    <label class="col-form-label">Confirm Password:</label>
    <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="model.confirmPassword" name="confirmPassword" required validateEqual="password" reverse="false" #passwordCheck="ngModel">
  </div>
  <div *ngIf="passwordCheck.invalid && (passwordCheck.touched || passwordCheck.dirty)" class="alert alert-danger">
    <div *ngIf="passwordCheck.errors">
      Password mismatch
    </div>
  </div>
  <div class="alert alert-success" *ngIf="resetSuccessful">
    Password reset sucessful. You may now <a class="alert-link" routerLink="/account/login-register">login</a> using your new password.
  </div>
  <div class="alert alert-danger" *ngIf="resetFailed">
    Password reset failed.
  </div>
  <div>
    <button class="btn btn-primary" id="resetPasswordButton" name="resetPasswordButton" type="submit" [disabled]="!resetForm.valid">Reset Password</button>
  </div>
</form>
