<h2>Welcome to the Brief Assistant for Reply Briefs!</h2>
<div>
  <p>The Brief Assistant <b>WILL</b>:</p>
  <ul>
    <li>
      Show you an example of an Appellant's Reply Brief for the Wisconsin Court of Appeals.
    </li>
    <li>
      Explain the different sections of an Appellant's Reply Brief.
    </li>
    <li>
      Help you draft a correctly-formatted Appellant's Reply Brief.
    </li>
  </ul>
</div>
<div>
  <p>The Brief Assistant will <b>NOT</b>:</p>
  <ul>
    <li>
      Generate a completed Appellant's Reply Brief for you. You will need to fill out the sections of the Appellant's Reply Brief and complete additional steps before you can file it with the Wisconsin Court of Appeals.
    </li>
    <li>
      Do legal research or tell you what law applies to your case.
    </li>
    <li>
      Read
      <span>
        <a href="http://docs.legis.wisconsin.gov/statutes/statutes/809/II/19" target="_blank">Wis. Stat. &sect;809.19</a>
      </span>
      for you. Users are responsible for reading and complying with &sect;809.19, which governs the form, contents, and filing of appellate briefs.
    </li>
  </ul>
</div>
<div>
  <h4>
    <b>Disclaimer:</b>
  </h4>
  <p>
    The Brief Assistant does NOT provide legal advice. The Appellate Practice Section strongly urges parties to an appeal to retain a lawyer to represent them. Sometimes that is not possible.
  </p>
  <p>
    So if you have filed a <b>civil</b> appeal and you cannot afford a lawyer, you may wish to call, text, or email the Appellate Help Desk at
    <a href="tel:+1-414-671-9041">414-671-9041</a> or
    <a href="mailto:appellatehelp@gmail.com" target="_top">appellatehelp@gmail.com</a>
    for advice on how to prepare your brief.
  </p>
  <p>
    If you have filed a <b>criminal</b> appeal and you cannot afford a lawyer, you may be eligible for one through the Wisconsin State Public Defender. For criminal appeals in Milwaukee, call
    <a href="tel:+1-414-227-4805">414-227-4805</a>. For criminal appeals in all other parts of Wisconsin, call
    <a href="tel:+1-608-266-3440">608-266-3440</a>.
  </p>
</div>
<button class="btn btn-primary" type="submit" id="replyWelcomeExButton" name="replyWelcomeExButton" routerLink="/reply-example" routerLinkActive="active">Continue to Example Brief</button>
