<div>
    <br>
    <h2>Briefs you have created:</h2>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Brief Name</th>
            <th></th>
            <th></th>

        </tr>
        <tr *ngFor="let brief of list; let i = index">
            <td>{{i + 1}}</td>
            <td>{{brief.title}}</td>
            <td>
                <div>
                    <button (click)="edit(brief.id)">Edit</button>
                </div>
            </td>
            <td>
                <div>
                    <button (click)="delete(brief.id, i)">Delete</button>
                </div>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>


