<div>
    <br>
    <h2>Briefs you have created:</h2>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Brief Name</th>
            <th></th>
            <th></th>

        </tr>
        <tr *ngFor="let brief of list; let i = index">
            <td>{{i + 1}}</td>
            <td>{{brief.title}}</td>
            <td>
                <div>
                    <button (click)="edit(brief.id)">Edit</button>
                </div>
            </td>
            <td>
                <div>
                    <button (click)="delete(brief.id, i)">Delete</button>
                </div>
            </td>
        </tr>
    </table>`
</div>


